<p>
  <strong>Restaurant Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<form action="reviews/new" method="post">
  Leave a review:
  Rate 1-5: <input type="number" name="score" min="1" max="5">
  Comment your experience: <input type="text" name="comment">
  <button type="button" name="submit">Submit review</button>
</form>
