/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 ul {
   list-style: none;
   display: inline;
   margin: 0 0 2em;
 }

 #navbar {
   background-color: #3c767f;
   border-color: #3c767f;
   border-radius: 0;
 }

 .nav.navbar-nav.navbar-right li a {
    color: #c4f7ff;
}

.nav.navbar-nav:hover li a {
   color: #777;
}

.nav.navbar-nav li a {
   color: #c4f7ff;
}

.nav.navbar-brand a {
   color: #c4f7ff;
}
 body {
   background-color: #c4f7ff;
 }
 * a {
   text-decoration: none;
 }
 a:link, a:visited {
   color: #009933;
 }
 a:hover {
   color: #000000;
 }
.logged_in {
  font-size: 1em;
  font-family: arial;
  color: #c4f7ff;
  padding-top: 15px
}
textarea {
  font-size: 1em;
  resize: inherit;
  width: 20%;
  height: 100%;
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: #ffccff;
  color: #0000ff;
  outline-width: 0;
}

.row{
  height: 100%;
}
