/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 ul {
   list-style: none;
   display: inline;
   margin: 0 0 2em;
 }
 html {
   background-color: #ffffe6
 }
 * a {
   text-decoration: none;
 }
 a:link, a:visited {
   color: #009933;
 }
 a:hover {
   color: #000000;
 }
 .all_links {
   position: absolute;
   right: 40px;
   top: 16px;
 }
.sign_up_edit, .sign_out_in {
  padding: 6px;
  border-radius: 8px;
  margin: 4px;
  text-align: center;
  background-color: #3399ff;
  letter-spacing: 1px;
}
#all_links a:link{
  color: #ffffff;
}
#all_links a:visited {
  color: #ffffff;
}
.sign_up_edit:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #ff471a;
}
.sign_out_in:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: #ff471a;
}
.logged_in {
  font-size: 15px;
  font-family: arial;
  color: #000000;
}
.restaurant_description_field{
  resize: none;
  width: 20%;
  height: 50px;
  border-radius: 12px;
  background-color: #ff471a;
  color: #ffffff;
}
